[Unit]
Description=Restic backup to SFTP target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/restic-backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
