[Unit]
Description=Run Restic backup every 30 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
Persistent=true
RandomizedDelaySec=2min

[Install]
WantedBy=timers.target
